*{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}

#AveryPage{
    height: 100%;
    background-image: url("hariflowave.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
.beebee{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.beebee li{
    display: inline-block;
}
.beebee li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}
.beebee li a:hover{
    background-color: white;
    color: #333;
}
.container-avery img{
    width: 100px;
    float: left;
    height: auto;
}
.CHAR1-TITLE h1{
    padding-top: 300px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}
.CHAR1-avery{
    position: relative;
    text-shadow: 2px 2px white;
}
.right-text-avery{
    position: relative;
    top: 8px;
    right: 55px;
    font-size: 25px;
    font-style: italic;
    font-family: 'Vollkorn SC', serif;
    text-shadow: 2px 2px gray;
}

/*--------avery texts---------*/

.STORY-TEXT-AVERY p{
    margin-top: 25px;
    margin-bottom: 4px;
    margin-left: 21px;
    margin-right: 21px;
    text-align: center;
    font-size: 20px;
    font-family: 'Vollkorn SC', serif;
    background-color: transparent;
    text-shadow: 2px 2px gray;
}
.STORY-TEXT-AVERY h1{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 35px;
    font-family: 'Reggae One', cursive;
    text-shadow: 2px 2px white;
}
.STORY-TEXT-AVERY h2{
    font-size: 55px;
    text-align: center;
    color: red;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 35px;
}


/*---------VINS CHARACTER PAGE-------------*/

#VinPage{
    background-color: rgb(15, 2, 26);
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    height: 500px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.beebee{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.beebee li{
    display: inline-block;
}
.beebee li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
    color: white;
}
.beebee li a:hover{
    background-color: white;
    color: #333;
}
.container-vin img{
    width: 100px;
    float: left;
    height: auto;
}
.CHAR2-TITLE{
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 500px;
}
.CHAR2-TITLE h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}
.CHAR2-vin{
    position: relative;
    color: white;
}
.right-title-vin{
    position: relative;
    top: 8px;
    right: 55px;
    font-size: 25px;
    font-style: italic;
    font-family: 'Vollkorn SC', serif;
    color: white;
}
.text-vin p{
    margin-top: 25px;
    margin-bottom: 4px;
    margin-left: 21px;
    margin-right: 21px;
    text-align: center;
    font-size: 20px;
    font-family: 'Vollkorn SC', serif;
    color: white;
    }
.text-vin h1{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 35px;
    font-family: 'Reggae One';
    color: white;
}
.text-vin2 h2{
    margin-top: 25px;
    margin-bottom: 11px;
    text-align: center;
    font-size: 36px;
    font-family: 'Vollkorn SC', serif;
    color: white;
}
.text-vin2 p{
    margin-top: 25px;
    margin-bottom: 4px;
    margin-left: 21px;
    margin-right: 21px;
    text-align: center;
    font-size: 20px;
    font-family: 'Vollkorn SC', serif;
    color: white;
}
.text-vin3 h3{
    margin-top: 25px;
    margin-bottom: 11px;
    text-align: center;
    font-size: 36px;
    font-family: 'Vollkorn SC', serif;
    color: white;
}
.text-vin3 p{
    margin-top: 25px;
    margin-bottom: 4px;
    margin-left: 21px;
    margin-right: 21px;
    text-align: center;
    font-size: 20px;
    font-family: 'Vollkorn SC', serif;
    color: white;
}
.editors-note p{
    padding-top: 55px;
    padding-bottom: 45px;
    padding-left: 88px;
    text-align: left;
    font-family: 'Aboreto', cursive;
    font-style: italic;
    font-size: 18px;
    color: blue;
}