*{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
}

.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.beebee{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.beebee li{
    display: inline-block;
}
.beebee li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}
.beebee li a:hover{
    background-color: white;
    color: #333;
}
.container-avery img{
    width: 100px;
    float: left;
    height: auto;
}
.CHAR1-TITLE{
    position: relative;
    text-align: center;
    color: white;
}
.CHAR1-TITLE h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.CHAR1-avery{
    position: relative;
    color: black;
}
.right-text-avery{
    position: relative;
    top: 8px;
    right: 55px;
    font-size: 25px;
    font-style: italic;
    font-family: 'Vollkorn SC', serif;
}

/*--------avery texts---------*/

.STORY-TEXT-AVERY p{
    margin-top: 25px;
    margin-bottom: 4px;
    margin-left: 21px;
    margin-right: 21px;
    text-align: center;
    font-size: 20px;
    font-family: 'Vollkorn SC', serif;
}
.STORY-TEXT-AVERY h1{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 35px;
    font-family: 'Reggae One', cursive;
}
.STORY-TEXT-AVERY h2{
    font-size: 55px;
    text-align: center;
    color: red;
    font-family: 'Anton', sans-serif;
    font-style: italic;
    margin-top: 35px;
    margin-bottom: 35px;
}


/*---------VINS CHARACTER PAGE-------------*/

.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    height: 500px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.beebee{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.beebee li{
    display: inline-block;
}
.beebee li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}
.beebee li a:hover{
    background-color: white;
    color: #333;
}
.container-vin img{
    width: 100px;
    float: left;
    height: auto;
}
.CHAR2-TITLE{
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 500px;
}
.CHAR2-TITLE h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 60px;
}
.CHAR2-vin{
    position: relative;
    color: black;
}
.right-title-vin{
    position: relative;
    top: 8px;
    right: 55px;
    font-size: 25px;
    font-style: italic;
    font-family: 'Vollkorn SC', serif;
}
